[Unit]
Description=saintmotelivisor

[Service]
ExecStart=/etc/saintmotelivisord/saintmotelivisor.js
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/myapp

[Install]
WantedBy=multi-user.target